<div>
  <h1>Angular web app test</h1>
  <h4>采用gulp总体管理构建，监控文件修改watch，清空打包文件，调用webpack重新打包，实时刷新浏览器livereload</h4>
  <ul>
    <li>angular2</li>
    <li>gulp watch live reload</li>
    <li>webpack package</li>
  </ul>
  <br>

  <h4>采用命令行mvn spring-boot:run 启动应用，在idea修改保存java代码后，执行make project会触发spring-boot热重启spring-boot-devtools</h4>
  <ul>
    <li>spring boot when use idea ide and make project, auto restart(use spring-boot-devtools)</li>
  </ul>

  <!--<img src="../assets/images/angular.png">-->
</div>
